/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

.swiper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff !important;
  opacity: 1 !important;
}

.swiper .swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.8 !important;
}
